@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Italianno&family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap');
:root{
    --cor-fundo: #E0DBC6;
    --cor-botao-costureira: #FFE492;
    --cor-botao-contratante: #BA746A;
    --cor-titulo: #BA746A;
    --cor-botao-inscrever: #4F9CF9;
    --cor-texto-botao-costureira: #1D1D1D;
    --cor-texto: #fff;
    --cor-fundo-login: #E0DBC6
    
}

body{
    background-color: var(--cor-texto);
    font-family: "Ysabeau Infant", serif;
    font-size: 16px
    
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    width: 90vw; 
    margin: 30px auto; 
    background-color: var(--cor-fundo);
    border-radius: 25px;
}

.home-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin-left: 130px
}


.home-login .logo{
    width: 60%;
}

.home-login .imagemMaquina{
    object-fit: cover;
    width: 50%; 
    height: auto; 
    margin: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    height: 75vh;
    background-color: var(--cor-texto);
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 400px; 
    max-height: 600px; 
    margin: auto; 
    border-radius: 15px;
    margin-right: 180px;
}

.forms {
    margin: 45px;
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.titulo-form {
    margin-bottom: 20px;
    text-align: center;
}

.texto {
    margin-bottom: 20px;
    text-align: center;
}


.titulo-form{
    color: var(--cor-titulo);
}

input[type="text"], input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 8px 20px;
    border: none;
    background-color: var(--cor-titulo);
    color: var(--cor-texto);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 20px;
    margin: 20px
}


.senha-opcoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.senha-opcoes input[type="checkbox"] {
    margin-right: 5px; 
}

.senha-opcoes label {
    margin-right: auto; 
}


.senha-opcoes .esqueceu, .senha-opcoes .login{
    margin: 20px;
    cursor: pointer;
    text-decoration:underline;
    
    
}

.senha-opcoes .login{
    text-decoration: none;
    color: var(--cor-texto-botao-costureira);
    text-align: center;
    text-decoration: underline;
}
@media (max-width: 1024px) {
    .container {
        flex-direction: column; 
        justify-content: center;
        height: 700px;
        padding: 10px ;
    }

    .home-login {
        display:none;
    }

    .login-form {
        max-width: 300px;
        max-height: 900px;
        margin-right: 0;
    }
}

