* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    background-color: #e0dbc6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Cabeçalho */
header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    background-color: #e0dbc6;
}

.logo {
    width: 190px;
    display: block;
    margin: 0 auto;
    height: auto;
}

.ruler {
    width: 100%;
    height: 50px; 
    background-image: url('/imagens/imagemRegua.png');
    background-repeat: repeat-x; 
    background-size: contain; 
}

main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    width: 80%;
    margin-top: 40px;
}

.left-panel {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-panel img {
    max-width: 80%;
    height: auto;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    width: 250px;
    margin-left: 20px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 15px; 
    background-color: #B87A6D;
    padding: 15px 20px;
    border-radius: 50px; 
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 100%; 
    margin-bottom: 30px;
}

.menu-item img {
    width: 30px; 
    height: 30px; 
}