* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    
    
}


body {
    background-color: #e0dbc6;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Cabeçalho */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #e0dbc6;
}



.logo {
    width: 120px; 
}


.buttons {
    display: flex;
    gap: 10px;
}

.btn-costureira, .btn-chefe {
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-costureira {
    background-color: #FDD835;
    color: #000;
}

.btn-chefe {
    background-color: #B87A6D;
    color: white;
}

.ruler {
    width: 90%;
    height: 2px;
    border-bottom: 4px solid #6B645C;
    background-image: repeating-linear-gradient(90deg, #000 0px, #000 1px, transparent 1px, transparent 10px);
    margin-top: 5px;
}

/* Conteúdo principal */
main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 20px;
}

.left-panel {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-panel img {
    max-width: 80%;
    height: auto;
}

.right-panel {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.machine {
    width: 150px;
}


.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 10px; 
    background-color: #B87A6D;
    padding: 20px 10px;
    border-radius: 100px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 180px;
    flex-direction: column;
    gap: 10px;
    height: 10%;
    
}

.menu-item img {
    width: 24px;
    height: 24px;
}